<%= render "shared/breadcrumbs", dataset: breadcrumbs_for(:budgets, :index) %>
<section class="card">
  <h1 class="title">Budgets</h1>
  <hr>
  <ul class="flex flex-col gap-2">
    <% @budgets.each do |budget| %>
      <li class="inner-card inner-card-hover leading-none">
        <%= link_to budget_path(budget) do %>
          <div class="mb-2">
            <p class="inner-card-top-label"><%= budget.date %></p>
          </div>
          <div class="text-sm">
            <div class="description-row">
              <p class="inner-card-field">Balance:</p>
              <p><%= render "shared/balance", value: budget.balance %></p>
            </div>
            <div class="description-row">
              <p class="inner-card-field">Total expenses:</p>
              <p><%= render "shared/expense", value: budget.total_expenses %></p>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
