<div class="flex flex-col gap-4">
  <section class="card">
    <h2 class="title">Budget <%= @budget.date %></h2>
    <div class="links-container">
      <%= link_to "Edit", edit_budget_path(@budget.uid), class: "link" %>
    </div>
    <hr>
    <div class="grid grid-cols-2">
      <p class="text-slate-500 text-sm">Amount:</p>
      <p><%= render "shared/balance", value: @budget.amount %></p>
    </div>
    <div class="grid grid-cols-2">
      <p class="text-slate-500 text-sm">Balance:</p>
      <p><%= render "shared/balance", value: @budget.balance %></p>
    </div>
    <div class="grid grid-cols-2">
      <p class="text-slate-500 text-sm">Total expenses:</p>
      <p><%= render "shared/expense", value: @budget.total_expenses %></p>
    </div>
  </section>
  <section class="card">
    <h2 class="title">Expenses</h2>
    <div class="links-container">
      <%= link_to "New expense", new_budget_expense_path(@budget.uid), class: "link" %>
    </div>
    <hr>
    <ul class="flex flex-col gap-2">
      <% @budget.expenses.each do |expense| %>
        <li class="inner-card inner-card-hover leading-none">
          <%= link_to budget_expense_path(@budget.uid, expense.id) do %>
            <div class="mb-2">
              <p class="text-xs text-slate-500 italic"><%= expense.expense_category.name %></p>
            </div>
            <div class="flex justify-between items-center text-sm">
              <%= expense.description %>
              <%= render "shared/expense", value: expense.amount %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</div>
