<div class="flex flex-col gap-4">
  <section class="card">
    <h2 class="title">Budget
      <%= @budget.date %></h2>
    <div class="links-container">
      <%= link_to "Edit", edit_budget_path(@budget), class: "link" %>
      <span>|</span>
      <%= button_to "Next", budget_next_path(@budget), class: "link" %>
    </div>
    <hr>
    <div class="description-row">
      <p class="description-field">Amount:</p>
      <p><%= render "shared/balance", value: @budget.amount %></p>
    </div>
    <div class="description-row">
      <p class="description-field">Balance:</p>
      <p><%= render "shared/balance", value: @budget.balance %></p>
    </div>
    <div class="description-row">
      <p class="description-field">Total expenses:</p>
      <p><%= render "shared/expense", value: @budget.total_expenses %></p>
    </div>
  </section>
  <section class="card">
    <h2 class="title">Expenses</h2>
    <div class="links-container">
      <%= link_to "New expense", new_budget_expense_path(@budget), class: "link" %>
    </div>
    <hr>
    <%= render "expenses" %>
  </section>
</div>
