<div>
  <h3 class="subtitle">Last account receivable</h3>
  <div class="links-container">
    <% if @summary[:last_account_receivable].present? %>
      <%= link_to "View", account_receivable_path(@summary[:last_account_receivable]), class: "link" %>
      <span>|</span>
    <% end %>
    <%= link_to "New", new_account_receivable_path %>
    <span>|</span>
    <%= link_to "List", account_receivables_path %>
  </div>
  <% if @summary[:last_account_receivable].present? %>
    <div class="description-row">
      <p class="inner-card-field">Balance:</p>
      <p><%= render "shared/expense", value: @summary[:last_account_receivable].balance %></p>
    </div>
    <div class="description-row">
      <p class="inner-card-field">Debtor:</p>
      <p><%= @summary[:last_account_receivable].debtor %></p>
    </div>
    <div class="description-row">
      <p class="inner-card-field">Status:</p>
      <p><%= @summary[:last_account_receivable].status %></p>
    </div>
  <% else %>
    <p class="inner-card-field">No account receivable</p>
  <% end %>
</div>
