<%= render "shared/breadcrumbs", dataset: breadcrumbs_for(:expenses, :show) %>
<section class="card">
  <h2 class="title">Expense</h2>
  <div class="links-container flex items-center justify-between">
    <%= link_to "Edit", edit_budget_expense_path(@budget, @expense) %>
    <%= button_to "Delete",
    budget_expense_path(@budget, @expense),
    method: :delete,
    class: "link-danger" %>
  </div>
  <hr>
  <div class="inner-card">
    <div class="mb-2">
      <p class="inner-card-top-label"><%= @expense.expense_category.name %></p>
    </div>
    <div class="flex justify-between items-center text-sm">
      <%= @expense.description %>
      <%= render "shared/expense", value: @expense.amount %>
    </div>
  </div>
</section>
